body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.header h2,
.header div {
  text-align: center;
}

.btn-add {
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: skyblue;
  color: white;
  border: 1px solid #eee;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.task {
  width: 80%;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
}
