body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.header h2,
.header div {
  text-align: center;
}

.btn-add {
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: limegreen;
  color: white;
  border: 1px solid #eee;
}

.btn-add:hover {
  background-color: green;
  color: lightgray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 158);
  width: 40%;
  margin: 2rem auto;
}

tr {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

td {
  display: inline-block;
  margin: 0.5rem;
}

.have-btn {
  text-align: center;
  margin: 1rem;
}

form .btn-submit {
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: lightskyblue;
  color: white;
  border: 1px solid #eee;
}

form .btn-submit:hover {
  background-color: skyblue;
  color: #eee;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.task {
  width: 80%;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.completed {
  border: 5px solid greenyellow;
}
